name: Hexo Blog CI

on: 
  push:
    branches:
      - main  # 改为你的源码库分支名

jobs:
  build: 
    runs-on: ubuntu-latest # 使用最新的稳定版
        
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4 # 升级到 v4
      
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: "20" # 建议用 Node 20，16 已经太老了
    
    - name: Setup Hexo Dependencies
      run: |
        npm install hexo-cli -g
        npm install        
    
    - name: Setup Deploy Private Key
      env:
        HEXO_DEPLOY_PRIVATE_KEY: ${{ secrets.HEXO_DEPLOY_PRIVATE_KEY }}
      run: |
        mkdir -p ~/.ssh/
        echo "$HEXO_DEPLOY_PRIVATE_KEY" > ~/.ssh/id_rsa 
        chmod 600 ~/.ssh/id_rsa
        ssh-keyscan github.com >> ~/.ssh/known_hosts
                
    - name: Setup Git Information
      run: | 
        git config --global user.name 'senchin0' 
        git config --global user.email 'jianhua1901@outlook.com'
    
    - name: Deploy Hexo 
      run: |
        hexo clean
        hexo generate
        hexo deploy